<main>
  <p id = "notice"><%= flash[:notice] %></p>

  <div class = "container px-5 px-sm-0" >
    <div class = "row">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>

    <div class = "col-md-8 offset-md-1">
      <h2>Comic detail</h2>
      <table class = "table table-hover table-inverse">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan = "3"></th>
          </tr>
        </thead>
        <tbody>
        <% if @user.present? && @user.comics.any? %>
          <% @user.comics.each do |comic| %>
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, fallback: "default-image.jpg", size: '80x80' %></td>
            <td><%= link_to comic.title, comic_path(comic.id) %></td>
            <td><%= comic.body %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan = "4">No comics found.</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</main>